.form__radio-fieldset {
  padding: 22px 20px 19px;
  margin: 0;
  border: none;
  border-bottom: 1px @hr-gray solid;
}

.form__radio-control-label {
  .form-text();
}

.form__radio-item {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}
