.header-wrapper {
  display: flex;
  padding: 0 20px 0;
  min-width: 320px;
  min-height: 65px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.main-header__logo {
  display: flex;
  align-items: center;
}

.logo-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-nav__toggle {
  display: flex;
  width: 24px;
  height: 24px;
  border: none;
  background-color: @primary-white;
}
