.main-nav__menu-wrapper {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.main-nav__list {
  display: flex;
  gap: 13px;

  @media (min-width: @tablet-width) {
    min-width: 436px;
  }
}

.main-nav__item {
  padding: 22px 20px 24px 20px;
  border-top: 1px @hr2-gray solid;

  @media (min-width: @tablet-width) {
    border: none;
    padding: 10px 0;
  }
}

.main-nav__link {
  .link-null();
  .title();
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding: 10px;
  }
}
