.sub-catalog {
  padding: 25px 0 35px 0;
}

.sub-catalog__title {
  .title();
  font-size: 24px;
  line-height: 24px;
  .text-null();
  padding: 0 20px;

  &::after {
    content: "";
    display: block;
    height: 1px;
    background-color: @hr-gray;
    margin-top: 36px;
  }
}

.sub-catalog__card-title {
  .title();
  font-size: 16px;
  line-height: 16px;
  .text-null();
  text-transform: uppercase;
  margin-bottom: 13px;
}

.sub-catalog__list {
  max-width: 320px;
  padding: 0 20px;
}

.sub-catalog__item:not(:last-child) {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px @hr-gray solid;
}

.sub-catalog__item p {
  .text-null();
}

.sub-catalog__text-wrapper {
  display: flex;
  justify-content: space-between;
}

.sub-catalog__button {
  margin-top: 15px;
}

.sub-catalog__bonus-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  size: 280px 290px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog-background-cat.png"), linear-gradient(rgb(76, 74, 79), rgb(76, 74, 79));
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts-color-wrapper {
  background-color: @light-gray;
}

.sub-catalog__bonus-text {
  .text-null();
  font-size: 16px;
  line-height: 20px;
  color: @white;
  max-width: 165px;
  text-align: center;

  &::before {
    content: "";
    //<svg class="icon">
    //<use xlink:href="#icon_gift"></use>
    //</svg>
  }
}
