@mobile-width: 320px;
@tablet-width: 768px;
@desctop-width: 1440px;

.link-null() {
  text-decoration: none;
}

@primary-black: #000000;
@secondary-black: #111111;
@dark-gray: #444444;
@primary-green: #68B738;
@primary-white: #ffffff;
